<div class="flex flex-wrap justify-evenly">
  @for (item of products(); track item.id) {
  <div class="mx-4 p-3 mt-4 mb-4 flex flex-col rounded-lg shadow-md"
       [class.animate-pulse]="addedItem() === item.id">
    <div class="overflow-hidden rounded-md aspect-[3/4] bg-gray-100">
      <img class="rounded-md mx-auto transition-transform duration-300 ease-in-out transform hover:scale-105"
        [src]="'assets/images/'+item.imageUrl+'.jpg'" [alt]="item.name" />
    </div>
    <div class="p-4 text-center">
      <h5 class="font-semibold">
        <a href="#" class="text-black hover:text-black no-underline">{{item.name}}</a>
      </h5>
      <p class="text-base font-normal mt-1">{{item.price | currency}}</p>
      @if(item.rating>0){
      <ng-container>
        <app-ratings [score]="item.rating"></app-ratings>
      </ng-container>
      }
      <button
        class="mt-2 w-full px-3 py-1 bg-blue-600 text-white rounded hover:bg-blue-700"
        (click)="addToCart(item)"
      >
        Add to Cart
      </button>
    </div>
  </div>
  }
</div>